body
{
    
    background-color: #202931;
    color: #cad3dc;
    font-family: 'Roboto';
    
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
    
}

#btn-play
{
    
    background-color: #10e100;
    border: 1px solid #10e100;
    
    color: #333;
    width: 100%;
    
}

#btn-play:focus
{
    
    box-shadow: 0 0 0 0.25rem rgb(16 225 0 / 50%);
    
}

#btn-stop
{
    
    background-color: #ff0000;
    border: 1px solid #ff0000;
    
    color: #eee;
    width: 100%;
    
}

#btn-stop:focus
{
    
    box-shadow: 0 0 0 0.25rem rgb(255 0 0 / 50%);
    
}

#btn-box-stop
{
    
    display: none;
    
}

span, p, button 
{
    
    font-family: 'Roboto';
    
}

span 
{
    
    font-weight: 200;
    
}

.debug-info
{
    
    display: none;
    
}

#loading-indicator
{
    
    position: fixed;
        
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
            
    background-color: rgba(0, 0, 0, .75);
    
    border-radius: 10px;
    
    text-align: center;
    
    
}

#loading-indicator span
{
    
    margin-top: 20px; 
    display: block;
    position: relative;
    
    font-weight: 500;
    
    top: 60px;
    
}

#footer-credits
{

    text-align: center;
    
    color: #ccc;
    font-size: 0.8em;

}


.page-title-header
{
    
    text-align: center;
    white-space: nowrap;
    
}

.text-icon
{
    
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.label-info-troubleshooting .text-icon,
.page-title-header .text-icon,
#footer-credits .text-icon
{
    
    width: 16px;
    height: 16px;
    
    max-height: 16px;
    max-width: 16px;
    
    border: 0;
    
    position: relative;
    top: 4px;
    
}


.page-title-header .text-icon
{
    
    width: 36px;
    height: 36px;
    
    max-height: 36px;
    max-width: 36px;
    
    display: inline-block;
    
    top: 2px;
    
}

.page-title-header h1
{
    
    display: inline-block;
    
    font-size: 1.5em;
    
    transform: translateY(-25%);
    margin-left: 12px;
    margin-bottom: 0;
    
}

.text-icon-silent
{
    
    background-image: url('../gfx/icon-silent.png');
    
    position: relative;
    top: 1px !important;
    
}

.text-icon-tiktok
{
    
    background-image: url('../gfx/icon-tiktok.png');
    
}

.text-icon-word-metronome
{
    
    background-image: url('../gfx/favicon-96.png');
    
}

a:hover .text-icon-tiktok,
a:active .text-icon-tiktok,
a:focus:hover .text-icon-tiktok,
a:visited:hover .text-icon-tiktok
{
    
    background-image: url('../gfx/icon-tiktok-hover.png');
    
}

.text-icon-hamm
{
    
    background-image: url('../gfx/icon-hamm.png');
    margin-right: -1px;
    
}

a:hover .text-icon-hamm,
a:active .text-icon-hamm,
a:focus:hover .text-icon-hamm,
a:visited:hover .text-icon-hamm
{
    
    background-image: url('../gfx/icon-hamm-hover.png');
    
}

a:hover,
a:active,
a:focus:hover,
a:visited:hover
{

    color: #fff;
    
}

a,
a:focus,
a:visited
{
    
    color: #aaa;
        
}

a,
a:hover,
a:active,
a:focus,
a:visited
{
    
    text-decoration: none;
        
}

.modal
{
    
    color: #333;
    
}

.modal .close
{
    
    background-color: transparent;
    border: 0;
    color: #333;
    
}

.modal .close span
{
    
    font-weight: 500;
    font-size: 1.3em;
    
}

#metronome-animation
{
    
    pointer-events: none;
    
    mask: url(./../gfx/metronome/mask.jpg);
    mask-image: url(./../gfx/metronome/mask.jpg);
    -webkit-mask-image: url(./../gfx/metronome/mask.jpg);
    
    padding: 0 !important;
    
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    
    display: block;
    width: 400px;
    height: 400px;
    
}

@media (max-width: 1200px) 
{

    #metronome-animation
    {
        
        width: 300px;
        height: 300px;
      
    }
    
}

.metronome-classic,
.metronome-modern
{
    
    position: absolute;
    
    top: 0;
    
    display: block;
    width: inherit;
    height: inherit;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

#metronome-classic-background
{
    
    background-image: url('./../gfx/metronome/classic/back.png');
    
}

#metronome-classic-pendulum
{
    
    background-image: url('./../gfx/metronome/classic/pendulum.png');
    transform-origin: 50% 65%;
    
}

.metronome-classic-pendulum-cat
{
    
    background-image: url('./../gfx/metronome/classic/pendulum-cat.png') !important;
    
}

.metronome-classic-pendulum-bottle-pop
{
    
    background-image: url('./../gfx/metronome/classic/pendulum-bottle-pop.png') !important;
    
}

#metronome-classic-front
{
    
    background-image: url('./../gfx/metronome/classic/front.png');
    
}

#metronome-modern-background
{
    
    width: 80%;
    height: 80%;
    transform: translateX(10%) translateY(10%);
    
}

#metronome-modern-circle
{
    
    width: 50%;
    height: 50%;
    
    background-color: #202931;
    border: 2px dashed #ffffff;
    
    transform: translateX(50%) translateY(50%) scale(2);
    opacity: 2;
    
    border-radius: 50%;
    
}

#metronome-modern-icon-play,
#metronome-modern-icon-stop
{
    
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-75%) translateY(-55%);
    color: white;
    font-size: 2em;
    
}

#metronome-modern-icon-stop
{
    
    display: none;
    transform: translateX(-75%) translateY(-55%);
    
}

.metronome-animation-playing #metronome-modern-icon-play
{
    
    display: none;
    
}

.metronome-animation-playing #metronome-modern-icon-stop
{
    
    display: block;
    
}

.metronome-animation-playing #metronome-modern-circle
{
    
    border: 2px solid #ff0000;
    
}

.label-info-troubleshooting
{
    
    text-align: center;
    
    margin-bottom: 20px;
    
}

.label-page-title
{
    
    font-family: "open_sansregular";
    font-weight: bold;
    color: white;
    text-align: center;
    
}

#row-btn-play-stop
{
    
    margin-top: 24px;
    
}

#selector-animation-box
{
    
    margin-top: 24px;
    
    text-align: center;
    
}

#selector-animation-box input
{
    
    margin-left: 10px;
    margin-right: 10px;
    
}

.app-store-info
{
	display: block;
	text-align: center;
}

.app-store-info a > img
{
	width: 40%;
}

.app-store-info a:hover
{
	opacity: 0.85;
}